body {
  background-image: linear-gradient(180deg, Black, MidnightBlue, RebeccaPurple);
  padding-top: 20vh;
  padding-bottom: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Calluna Sans", "Segoe UI",
    "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue","Courier New",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
